.float{
	position:fixed;
	width:45px;
	height:45px;
	bottom: 70px;
    right: 15px;
	background-color:#4cc370;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  	font-size:30px;
	box-shadow: 2px 2px 3px #999;
  	z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #fff;
  	background-color:#3d9e5a;
}

.my-float{
	
}

.pulse{
	animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
	0% {
	 box-shadow: 0 0 0 0px #25d36657 rgba(0, 0, 0, 0.2);
	}
	100% {
	  box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
	}
  }
  
  @keyframes shake {
	 0% { transform: translateX(0) }
   25% { transform: translateX(5px) }
   50% { transform: translateX(-5px) }
   75% { transform: translateX(5px) }
   100% { transform: translateX(0) }
  }